@import '~assets/styles/shared'; // NOTE -- this is the ONLY location this file should be brought in w/out the `(reference)` directive

body,
html,
* {
  box-sizing: border-box;
}

body {
  background: @color-page-background;

  // See Issue #3504
  top: 0 !important;
  position: initial !important;

  @media @breakpoint-mobile {
    --is-mobile: true;
    overflow-y: auto;
  }

  @media @breakpoint-mobile-small {
    --is-mobile-small: true;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @Inter;
}

#root {
  height: 100%;
}

.App--blur {
  filter: blur(@size-2);
}

.Main {
  display: grid;

  /* topbar height */
  grid-template-rows: @top-bar-height auto;
  height: 100vh;
  overflow: hidden;

  @media @breakpoint-mobile {
    /* topbar mobile height */
    grid-template-rows: @top-bar-height-mobile auto;
    display: block;
    padding-top: @top-bar-height-mobile;
    overflow-y: auto;
    height: max-content;
  }

  &.TradingTutorial {
    grid-template-rows: @tutorial-banner-height @top-bar-height auto;
  }
}

.TutorialBanner {
  z-index: @mask-illuminate;
  background: @color-secondary-action;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: @size-1 solid @color-secondary-action-outline;

  > span {
    .text-12-bold;

    color: @color-primary-text;
    flex: 1;
    text-align: center;
  }

  > button {
    > svg {
      width: @size-10;
      height: @size-10;
      margin-right: @size-16;

      > path {
        stroke: @color-primary-text;
      }
    }
  }
}

.TopBarOverlay {
  position: fixed;
  top: @tutorial-banner-height;
  left: 0;
  width: 100%;
  height: calc(@top-bar-height + @top-nav-height);
  background-color: transparent;
  z-index: @mask-modal;
}

.Main__wrap {
  display: grid;
  overflow: hidden;

  @media @breakpoint-mobile {
    grid-template-columns: none;
    grid-template-rows: 0 auto;
    margin-left: 0;
    display: block;
    height: fit-content;
    overflow-y: auto;

    &.StatusErrorShowing {
      > section {
        padding-top: @size-42;
      }
    }

    &.StatusErrorShowingMarket {
      top: @top-bar-height-mobile;

      > section {
        > div:last-of-type {
          > div {
            > div:first-of-type {
              top: calc(~"@{top-bar-height-mobile} + 42px");
            }
          }
        }
      }
    }
  }
}

.Main__wrapMarkets {
  grid-template-columns: minmax(auto, @size-250) auto;

  @media @breakpoint-mobile {
    grid-template-columns: none;
    grid-template-rows: 0 auto;
    margin-left: 0;

    &.TopBarOpen {
      background: @color-dark-grey;
    }
  }
}

.Main__content {
  height: calc(~"100vh - @{multi-top-bar-height}");
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;

  @media @breakpoint-mobile {
    height: 100%;
    width: 100vw;
    padding-bottom: @size-6;

    &.SideNavOpen {
      opacity: 0.1;

      > section {
        pointer-events: none;
      }
    }
  }

  > .BettingUI {
    display: none;

    path {
      &:nth-child(odd) {
        fill: @color-secondary-text;
        stroke: none;
      }

      &:nth-child(even) {
        stroke: @color-secondary-text;
      }
    }

    @media @breakpoint-mobile {
      display: flex;
      justify-content: center;
      margin-top: @size-10;
      width: 100%;
    }
  }

  &.Tutorial {
    height: calc(~"100vh - @{multi-top-bar-height} - @{tutorial-banner-height}");
  }

  &.ModalShowing {
    @media @breakpoint-mobile-tablet {
      overflow-y: hidden;
    }

    @media @breakpoint-mobile {
      overflow-y: hidden;
    }
  }
}

.SideBar {
  background: @color-module-background;
  border-right: @size-1 solid @color-dark-grey;

  @media @breakpoint-mobile {
    padding-top: 0;
  }

  > div:first-of-type {
    left: 0px;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: @mask-toast;
  }
}


.SideBar__mobile-bars {
  top: 0;
  left: 0;
  border-bottom: @size-1 solid @color-module-background;
  display: none;
  height: @side-bar-top-menu-height-mobile;
  outline: none;
  padding: @size-16;
  position: fixed;
  width: @size-50;
  z-index: @mask-modal;

  &.Closed {
    height: @top-bar-height-mobile;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  @media @breakpoint-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;

    > svg > g {
      stroke-width: 1.5;
    }
  }
}

svg.SideBar__mobile-bars-unseen {
  bottom: 1.4rem;
  position: relative;
  right: 0.35rem;
}

.TopBar {
  z-index: @mask-above;

  @media @breakpoint-mobile {
    height: @top-bar-height-mobile;
  }
}

.TopBar__floatAbove {
  z-index: @mask-above;

  @media @breakpoint-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @mask-modal;

    &.SideNavOpen {
      background: @color-dark-grey;
      opacity: 0.9;
      > header {
        > div:last-of-type {
          opacity: 0.1;
        }
      }
    }
  }
}
