@import (reference) '~assets/styles/shared';

// Used in Betting UI
.InnerNav {
  height: calc(~"100vh - @{multi-top-bar-height}");
  overflow: auto;
  position: relative;
  background: @color-module-background;
}

.InnerNav__menu {
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  text-transform: uppercase;
}

.InnerNav__menu-item {
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

  *:hover {
    background: @color-secondary-action-outline;
  }

  a,
  button {
    background: none;
    border: none;
    color: @color-primary-text;
    cursor: pointer;
    display: block;
    font-size: 0.75rem;
    height: 100%;
    letter-spacing: 0.01875rem;
    line-height: 1.8125rem;
    margin: 0;
    min-height: 1.625rem;
    outline: 0;
    overflow: hidden;
    padding: 0 0.3125rem 0 0.6875rem;
    text-align: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }
}

.InnerNav__menu-item--visible {
  height: 1.625rem;
  opacity: 1;

  a,
  button {
    transform: translateY(0) scaleY(1);
  }
}

.InnerNav__menu-item--selected {
  background: @color-secondary-action-outline;
}

.InnerNav__menu-item--seperator {
  border-top: 1px solid @color-module-background;
  display: flex;
  height: 0;
  margin: @size-12 @size-11 0;
  padding-top: @size-12;

  &:hover {
    background: unset;
  }
}

.InnerNav__menu--main {
  background: @color-module-background;
  border-right: 1px solid @color-module-background;
  position: relative;
  z-index: @mask;
}

.InnerNav__menu--submenu {
  background: @color-module-background;
  border-left: 0.0625rem solid @color-module-background;
  left: 0;
  position: absolute;
  top: 0;
  width: 6.875rem;
  z-index: @above-all-content-above;

  > .InnerNav__menu-item {
    *:hover {
      background: @color-secondary-action-outline;
    }
  }

  > .InnerNav__menu-item--selected {
    background: @color-secondary-action-outline;
  }
}

@media @breakpoint-mobile {
  .InnerNav {
    left: -100%;
    margin-bottom: 1rem;
    overflow-x: hidden;
    transition: left 0.2s ease-in-out;
    width: 100%;
    top: 0;
    z-index: 100;
    position: fixed;
    height: 100%;
    bottom: 0;

    &.mobileShow {
      left: 0;
      width: 100%;

      // the header area
      > div:first-of-type {
        .text-16-bold;

        align-items: center;
        background: @color-dark-grey;
        border-bottom: 1px solid @color-dark-grey;
        color: @color-primary-text;
        display: flex;
        flex-flow: row nowrap;
        height: 50px;
        padding: @size-16;
        width: 100%;
        z-index: @mask-above;
        position: fixed;

        > span {
          padding-left: @size-25;
          margin: auto;
        }

        // close button
        > button {
          height: @size-16;
          margin-right: @size-9;
          width: @size-16;
        }

        > button > svg > path {
          stroke: @color-primary-text;
        }
      }

      // Apply button
      > div:nth-of-type(2) {
        background: @color-table-header;
        padding: @size-24;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: @above-all-content-top-layer;

        > button {
          width: 100%;
        }
      }
    }

    &.AddMargin {
      > ul {
        margin: 50px 0;
      }
    }
  }

  .InnerNav__menu-item {
    a,
    button {
      font-size: 0.75rem;
      line-height: 3.4375rem;
      padding-left: 2.5rem;

      &:hover {
        background: none;
      }
    }
  }

  .InnerNav__menu-item--visible {
    height: 3.4375rem;
  }

  .InnerNav__menu-item--selected:hover {
    a,
    button {
      background: @color-secondary-action-outline;
    }
  }

  .ExtraPaddingBottom {
    padding-bottom: @size-66;
  }

  .InnerNav__menu--main,
  .InnerNav__menu--submenu {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    z-index: @above-all-content;
    -webkit-overflow-scrolling: touch;
  }

  .InnerNav__menu--submenu {
    left: 100%;
    transition: left 0.2s ease-in-out;
    z-index: @mask;
  }

  .InnerNav__menu--submenu--mobileshow {
    left: 0;
  }
}
