@import (reference) "~assets/styles/shared";

.TradeHistory {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  max-height: 95%;

  @media @breakpoint-mobile {
    max-height: @size-400;
  }

  > div {
    display: block;
    overflow: overlay;
    max-height: calc(50vh + @size-52);

    > span {
      .mono-10-medium;

      align-items: center;
      align-self: center;
      color: @color-inactive-text;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }

    @media @breakpoint-mobile {
      min-height: 200px;
    }
  }
}

@supports (-moz-appearance:none) {
  .TradeHistory {
    > div {
      overflow-y: auto;
    }
  }

  .Container {
    > main {
      // firefox doesn't support overlay. need auto
      overflow-y: auto;
    }
  }
}

.TradeHistoryTable {
  display: flex;
  flex-flow: column nowrap;

  &:not(:first-of-type) {
    border-top: 2px solid @color-dark-grey;
  }

  > span {
    .mono-10-bold;

    color: fade(@color-secondary-text, 75%);
    height: 100%;
    max-height: @size-20;
    min-height: @size-20;
    padding: @size-4 @size-8;
    text-transform: uppercase;
    width: 100%;
  }

  > ul {
    .mono-10-medium;

    align-items: center;
    height: @size-20;
    max-height: @size-20;
    min-height: @size-20;
    margin-bottom: 1px;
    border-left: 1px solid @color-positive;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 @size-16;

    &.Sell {
      border-left: 1px solid @color-negative;

      > li:nth-of-type(2) {
        color: @color-negative;
      }
    }

    > li:first-of-type {
      color: @color-primary-text;
      margin-left: @size-32;
      text-align: right;
    }

    > li:nth-of-type(2) {
      color: @color-positive;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;

      > span {
        flex: unset;
      }
    }

    > li:last-of-type {
      color: fade(@color-secondary-text, 80%);
      text-align: right;
      padding-right: @size-16;
    }
  }
}

.Down,
.Up {
  border: solid transparent;
  border-width: @size-4;
  margin-left: @size-8;
}

.Up {
  border-bottom-color: fade(@color-secondary-text, 50%);
  border-width: 0 @size-4 @size-5;
  top: -@size-8;
}

.Down {
  border-top-color: fade(@color-secondary-text, 50%);
  border-width: @size-5 @size-4 0;
  top: @size-9
}
